:host {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  margin: 0;
  background-color: var(--sequencer-bg);
  padding: 10px;
}

.track {
  display: flex;
  align-items: center;
}

.track-name {
  width: var(--track-name-width);
  color: var(--instrument-name-color);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
}

.step {
  width: var(--step-size);
  height: var(--step-size);
  background-color: var(--step-color);
  border-radius: var(--step-border-radius);
  margin: var(--step-spacing) calc(var(--step-spacing) / 2);
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;

  &.vel-1 {
    background-color: var(--step-color--vel-1);
  }
  &.vel-2 {
    background-color: var(--step-color--vel-2);
  }
  &.vel-3 {
    background-color: var(--step-color--vel-3);
  }

  &.active {
    background-color: var(--step-color--active);
  }
}

.step:nth-child(4n + 2) {
  margin-left: var(--step-group-margin);
}

// adds space between the last step and the select
.track .step:last-of-type {
  margin-right: var(--step-group-margin);
}

select {
  border-radius: var(--step-border-radius);
  height: var(--step-size);
  border: none;
  text-align: center;
  margin-left: auto;
}
