<div *ngFor="let instrument of tracks" class="track">
  <div class="track-name">{{instrument.name}}</div>
  <button *ngFor="let step of instrument.steps; index as i"
          class="step"
          (mousedown)="clickStep($event, step)"
          (mouseenter)="hoverStep($event,step)"
          (mouseup)="endClick()"
          [class]="step.velocityText"
          [ngClass]="{ active: (instrument.activeStep$ | async)  === i + 1}"></button>
  <select class="intrument-length"
          #stepsLength
          (change)="changeInstrumentLength(instrument,stepsLength.value)">
    <option *ngFor="let n of numberSteps; let i= index" [value]="i + 1"
            [selected]="instrument.steps.length === i + 1">{{i + 1}}</option>
  </select>
</div>
