<div>
  <button (click)="play()">run</button>
  <button (click)="stop()">stop</button>
  <label for="bpm">BPM:</label><input #bpm name="bpm" id="bpm" [value]="bpm$ |async" (keyup)="changeBpm(bpm.value)">
  <label for="duration">DURATION:</label>
  <select id="duration" [value]="16" #duration (change)="changeDuration(duration.value)">
    <option value="1">whole</option>
    <option value="2">half</option>
    <option value="4">quarter</option>
    <option value="8">eight</option>
    <option value="16">sixteenth</option>
  </select>
</div>
