/* You can add global styles to this file, and also import other style files */

:root{


}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

app-root {
  margin-top: 20px;
}
